@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & family= Red+Hat+Display:wght@600 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & family= Passions+Conflict & family= Red+Hat+Display:wght@600 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Julius+Sans+One & family= Montserrat:wght@100 & family= Passions+Conflict & family= Red+Hat+Display: peso@600 & mostrar=cambiar");
@import url("https://fonts.googleapis.com/css2? family= Julius+Sans+One & family= Montserrat:wght@100 & family= Passions+Conflict & family= Red+Hat+Display: wght@600 & family= Titillium+Web:wght@200 & display=swap");
/* Responsive */
/* Reformas */
@media (max-width: 768px) {
  .carousel-inner-dos img {
    height: 350px; } }

@media (max-width: 480px) {
  .carousel-inner-dos img {
    height: 200px; } }

/* Contacto */
@media (min-width: 480px) {
  .dire {
    font-size: 20px; } }

@media (min-width: 480px) {
  .tel {
    font-size: 20px;
    margin-left: 4%;
    margin-right: 4%; } }

@media (min-width: 480px) {
  .mail {
    font-size: 20px; } }

@media (max-width: 480px) {
  .calle {
    font-size: 20px; } }

@media (min-width: 480px) {
  .num {
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%; } }

@media (max-width: 480px) {
  .info {
    font-size: 20px; } }

/* Servicios */
@media (max-width: 480px) {
  .imagenServicios {
    margin-left: 5%;
    margin-right: 5%; } }

/* Home */
@media (max-width: 480px) {
  .uno {
    font-size: 25px; } }

@media (max-width: 480px) {
  .dos {
    font-size: 35px; } }

@media (max-width: 480px) {
  .carousel-caption {
    margin-bottom: 10%; } }

/* Nav */
.menu1 {
  margin-top: 1%;
  margin-left: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .menu1 .navbar-brand img {
    width: 75%; }

.nav-item {
  margin-top: 5%;
  margin-right: 28px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-family: "Titillium Web", sans-serif;
  font-size: 15px; }

.nav-item:hover {
  opacity: 0.8; }

.navbar {
  background-color: white !important; }
  .navbar a.nav-link {
    color: #706e6e; }

/* Footer */
footer {
  background-color: transparent; }

.footerBi {
  font-family: "Cormorant Garamond";
  font-size: 12px;
  margin-bottom: 4%; }

.container > footer {
  margin-top: 0 !important; }

.seguinos {
  font-size: 28px;
  font-family: "Cormorant Garamond";
  margin-bottom: 3%;
  margin-top: 5%; }

.divRedes {
  margin-bottom: 4%; }

.fb {
  width: 12px;
  opacity: 0.5; }

.ig {
  width: 30px;
  opacity: 0.5;
  margin-left: 7px; }

.calleFalsa {
  font-size: 19px;
  font-family: "Cormorant Garamond"; }

.calleFalsaa {
  font-size: 19px;
  font-family: "Cormorant Garamond"; }

.calleFalsaaa {
  font-size: 19px;
  font-family: "Cormorant Garamond";
  margin-bottom: 3%; }

/* Home */
.carousel-caption {
  margin-bottom: 20%; }

.carousel-caption > * {
  text-align: center;
  margin-bottom: 5%; }

a.btn-slider {
  padding: 5px 100px 5px 100px;
  color: #fff;
  border: #fff solid 1px;
  text-decoration: none; }

a.btn-slider:hover {
  opacity: 0.8;
  transition: 2s;
  color: black;
  background-color: #fff; }

.uno {
  font-family: "Cormorant Garamond";
  font-size: 35px; }

.dos {
  font-family: "Cormorant Garamond";
  font-size: 50px; }

/* Servicios */
.divServicios {
  width: 100%;
  height: 100%;
  background-image: url(https://images.adsttc.com/media/images/5abb/fa8f/f197/cc66/4000/033f/slideshow/MWP_0693-Edit.jpg?1522268801);
  border: solid transparent;
  background-repeat: no-repeat;
  background-size: cover; }
  .divServicios .tituloServicios {
    position: center;
    text-align: center;
    margin-top: 20%; }

.parrafoServicios {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  margin-bottom: 25%;
  color: #fff;
  text-align: center; }

/* Servicios maps-get */
body {
  background-color: #fff; }
  body .tituloServicios {
    font-family: "Cormorant Garamond";
    font-size: 70px;
    color: #fff; }
  body .servicioss {
    font-family: "Cormorant Garamond";
    font-size: 50px; }

/* Imagenes Servicios */
.imagenServicios {
  width: 300px;
  height: 250px;
  margin: auto;
  display: block;
  margin-top: 5%; }

.imagenServicios:hover {
  transform: scale(1.2); }

.diseño {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  margin-top: 5%;
  text-align: center; }

.diseñoParrafo {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center; }

.reforma {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  margin-top: 5%;
  text-align: center; }

.mobiliario {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  margin-top: 5%;
  text-align: center; }

.asesoramiento {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  margin-top: 5%;
  text-align: center; }

.parrafoTabla {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%; }

/* Proceso */
.proceso {
  display: flex;
  justify-content: space-between; }
  .proceso .procesoEtapas {
    margin-right: 20%;
    margin-top: 5%;
    font-family: "Cormorant Garamond";
    margin-left: 10%; }
    .proceso .procesoEtapas .tituloProceso {
      margin-bottom: 30%; }

.relevamiento {
  margin-bottom: 10%; }
  .relevamiento .parrafoRelevamiento {
    margin-bottom: 10%; }

.entregas {
  margin-top: 20%;
  margin-bottom: 10%; }

.procesoo {
  display: flex;
  justify-content: space-between; }
  .procesoo .procesoEtapass {
    font-family: "Cormorant Garamond";
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%; }
    .procesoo .procesoEtapass .entrega {
      margin-bottom: 10%; }

.parrafoEntregas {
  margin-bottom: 10%; }

.procesoDos {
  width: 50%;
  object-fit: cover; }

.procesoUno {
  width: 50%;
  object-fit: cover; }

.ejecucion {
  margin-top: 20%;
  margin-bottom: 10%; }

.parrafoEjecucion {
  margin-bottom: 20%; }

/* Reformas */
.bodyReformas {
  background-color: white; }

.obras h1 {
  margin-bottom: 3%;
  margin-top: 8%;
  font-size: 40px;
  color: black;
  font-family: "Cormorant Garamond";
  text-align: center; }

.obras h2 {
  color: black;
  font-size: 25px;
  margin-bottom: 5%;
  font-family: "Cormorant Garamond";
  text-align: center;
  margin-left: 10%;
  margin-right: 10%; }

.obrasDos {
  color: black;
  font-family: "Cormorant Garamond";
  font-size: 10px;
  display: flex;
  justify-content: center; }
  .obrasDos .imgObra {
    width: 20px;
    height: 20px; }

.obrasDos h3 {
  font-size: 20px;
  margin-right: 2%;
  margin-left: 10%; }

.imagenRefo {
  margin-right: 10%; }

.obraTres {
  text-align: center; }

.obraTres h2 {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: black;
  margin-top: 10%; }

.obraTres h3 {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: black;
  margin-bottom: 2%; }

/*carrousel*/
.carousel-inner-dos img {
  width: 50%;
  height: 460px; }

.carousel-inner-dos {
  height: 460px;
  width: 50%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center; }

/* Contacto */
.bodyContacto {
  background-color: white; }

.contacto {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%; }
  .contacto .formulario {
    margin-top: 100px;
    margin-bottom: 50px;
    color: black; }
    .contacto .formulario .formulario2 {
      margin-bottom: 10%; }

.formulario h1 {
  font-size: 40px;
  font-family: "Cormorant Garamond";
  margin-bottom: 8%; }

.form-group {
  margin-bottom: 2%;
  font-family: "Cormorant Garamond";
  color: black;
  font-size: 25px; }

.btn {
  background-color: white;
  color: black;
  border: #a59b9b solid 1px;
  font-family: "Cormorant Garamond"; }

.btn:hover {
  opacity: 0.8;
  background-color: black;
  color: white; }

.medios {
  display: flex;
  justify-content: space-between;
  opacity: 0.3; }

.ubicacion {
  margin-left: 32%;
  width: 50px; }

.telefono {
  width: 50px;
  height: 50px; }

.email {
  width: 50px;
  height: 60px;
  margin-right: 32%; }

.mediosDos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%; }

.dire {
  margin-left: 22%;
  font-family: "Cormorant Garamond";
  font-size: 30px; }

.tel {
  font-family: "Cormorant Garamond";
  font-size: 30px; }

.mail {
  margin-right: 25%;
  font-family: "Cormorant Garamond";
  font-size: 30px; }

.mediosTres {
  display: flex;
  justify-content: space-between;
  font-family: "Cormorant Garamond";
  margin-bottom: 10%;
  color: #8d8c8c; }

.calle {
  font-size: 20px;
  margin-left: 28%; }

.info {
  font-size: 20px;
  margin-right: 28%; }

.num {
  font-size: 20px; }

/* maps menu */
.color-white {
  background-color: rgba(255, 255, 255, 0.815); }
