/* Responsive */
@media (max-width: 1200px) {
  .seguinos {
    margin-top: 5%; } }

@media (max-width: 1200px) and (max-width: 768px) {
  .seguinos {
    margin-left: 17%; } }

@media (max-width: 1200px) and (max-width: 480px) {
  .seguinos {
    margin-left: 17%; } }

@media (max-width: 768px) {
  .footerBi {
    margin-left: 34%; } }

@media (max-width: 480px) {
  .footerBi {
    margin-left: 24%; } }
