$font-family:'Red Hat Display';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:wght@300&display=swap');
$fontfamily: 'Cormorant Garamond';
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & family= Red+Hat+Display:wght@600 & display=swap');
$montserrat:'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & family= Passions+Conflict & family= Red+Hat+Display:wght@600 & display=swap' );
$cursive:'Passions Conflict';
@import url('https://fonts.googleapis.com/css2? family= Julius+Sans+One & family= Montserrat:wght@100 & family= Passions+Conflict & family= Red+Hat+Display: peso@600 & mostrar=cambiar');
$titulo:'Julius Sans One', sans-serif;
@import url('https://fonts.googleapis.com/css2? family= Julius+Sans+One & family= Montserrat:wght@100 & family= Passions+Conflict & family= Red+Hat+Display: wght@600 & family= Titillium+Web:wght@200 & display=swap');
$font:'Titillium Web', sans-serif;