//variables
@import 'fonts';
@import 'bg';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:wght@300&display=swap');



@mixin size ($alto, $ancho){
    width: $ancho;
    height: $alto;
}
    
/* Nav */



.menu1{
 margin-top: 1%;
 margin-left: 2%;

        .navbar-brand img{
        
         width: 75%;
        }            
    
}
.nav-item{

    margin-top: 5%;
    margin-right: 28px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-family: $font;
    font-size: 15px;
   

    
    
}

.nav-item:hover{

    opacity: 0.8;
}
.navbar{

    background-color:white !important;
    
}


a.nav-link{

    color:rgb(112, 110, 110);
  
}



/* Footer */

footer{
    
    background-color: transparent;
    
}

.container > footer {
    margin-top: 0 !important;
   
}
.footerBi{

    font-family: $fontfamily;
    font-size: 15px;
    margin-right: 30%;
    margin-left: 36%;

}







/* Home */

.carousel-caption{
   
    width: 100%;
    left: 1%;
    padding:17%
}

.carousel-caption > * {
    
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
  
}

a.btn-slider{

    padding: 5px 100px 5px 100px;
    color: #fff;
    border: #fff solid 1px;
    text-decoration: none;
   
}

a.btn-slider:hover{
    opacity: 0.8;
    transition: 2s;
    color: black;
    background-color: #fff;
}
.uno{

  font-family: $fontfamily;
  font-size: 35px;
  

}
.dos{


    font-family: $fontfamily;
    font-size: 50px;

}

/* Servicios */

.divServicios{

 width: 100%;
 height: 100%;
 background-image: url("https://res.cloudinary.com/patch-gardens/image/upload/v1624026650/cms/Online%20magazine/Decorate%20your%20bedroom%20with%20plants/16-9_Hero-min.jpg");
 border: solid transparent;
 background-repeat: no-repeat;
 background-size: cover;
 
    

    .tituloServicios{
    
     position: center;
     text-align: center;
     margin-top: 20%;
    
        
              
        
    }
    
}


.parrafoServicios{

    font-family: $fontfamily;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 25%;
    color: #fff;
  }





/* Servicios maps-get */

$estilo: (

color:#fff,
fuente:'Cormorant Garamond',
estilofuente: 50px,
estilofuentee: 70px
);

body {

    background-color:map-get($estilo, color);
    .tituloServicios{
        font-family: map-get($estilo, fuente);
        font-size: map-get($estilo, estilofuentee);
        color: map-get($estilo, color);
    }  
    .servicioss{
        font-family: map-get($estilo, fuente);
        font-size: map-get($estilo, estilofuente);
        
    }
    
}


/* Imagenes Servicios */


 .imagenServicios{

      @include size(250px,300px );
      margin-left: 38%;
      margin-top: 10%;
    }            


.imagenServicios:hover{

    transform: scale(1.2);
  }

.diseño{

    font-family: $fontfamily;
    font-size: 30px;
    margin-left: 42%;
    margin-top: 5%;
}
.diseñoParrafo{

    font-family: $fontfamily;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    text-align: center;
 
}
.reforma{

    font-family: $fontfamily;
    font-size: 30px;
    margin-left: 38%;
    margin-top: 5%;
}
.mobiliario{

    font-family: $fontfamily;
    font-size: 30px;
    margin-left: 41%;
    margin-top: 5%;
}
.asesoramiento{

    font-family: $fontfamily;
    font-size: 30px;
    margin-left: 39%;
    margin-top: 5%;
}

/* Tabla */

.parrafoTabla{

   font-family: $fontfamily;
   font-size: 30px;
   margin-left: 17%;
   margin-top: 10%;

}

.tabla{
    border: black solid 1px;
    width: 900px;
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: $fontfamily;
}


.tablaUno{

    font-family: $font;
    font-weight: lighter;
}


/* Proceso */


.proceso{

    display: flex;
    justify-content: space-between;
   

}
.procesoEtapas{

   margin-right: 20%;
   margin-top: 5%;
   font-family: $fontfamily;
   margin-left: 10%;

    .tituloProceso{

      margin-bottom: 30%;
    }


}
.relevamiento{

    margin-bottom: 10%;
      
    .parrafoRelevamiento{

        margin-bottom: 10%;
    }
}
.entregas{

    margin-top: 20%;
    margin-bottom: 10%;
}
.procesoo{

    display: flex;
    justify-content: space-between;
}

.procesoDos{

    width: 564px;
    
}
.procesoEtapass{

    font-family: $fontfamily;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
}
.entrega{

margin-bottom: 10%;
}
.ejecucion {
    margin-top: 20%;
    margin-bottom: 10%;
}


/* Reformas */

.bodyReformas{

background-color:white;
}

.antesDespues{

    margin-left: 28%;
    display: flex;
    flex-direction: column;
    

       .imagenRefo{

        height: 600px;
        width: 600px;
        margin-right: 40px;
        margin-bottom: 10%;
        margin-top: 5%;
        

        .imagenRefodos{
    
           height: 600px;
           width: 600px;
           margin-right: 40px;
           margin-bottom: 5%;
           margin-top: 5%;

          .imagenRefotres{
        
             height: 600px;
             width: 600px;
             margin-right: 40px;
             margin-bottom: 10%;
             margin-top: 5%;
            }
        }
    }
}

.obras h1{


    
    margin-bottom: 3%;
    margin-top: 8%;
    margin-left: 45%;
    font-size: 40px;
    padding-right: 20%;
    padding-left: 0%;
   color: black;
   font-family: $fontfamily;
   

    
 } 
 .obras h2{

    color: black;
    font-size: 25px;
    margin-left: 15%;
    margin-bottom: 5%;
    font-family: $fontfamily;
   

   }
   
 .obrasDos{
    margin-left: 23%;
    color: black;
    font-family: $fontfamily;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    
    .imgObra{

        width: 20px;
        height: 20px;

        
    }
    
}
.obraTres{

    margin-left: 25%;

}


.obrasDos h3{
    margin-bottom: 10%;
    margin-left: 12%;
    margin-right: 1%;
    font-size: 20px;
}

.obraTres h2{

    font-family: $fontfamily;
    font-size: 30px;
    color: black;

}
.obraTres h3{

   font-family: $fontfamily;
   font-size: 20px;
   color: black;

}
      
/*carrousel*/

.carousel-inner-dos img {
    width: 50%;
    height: 460px;
}

.carousel-inner-dos{
 height: 460px;
 width: 50%;
 margin-bottom: 10%;
 margin-left: 25%;
 
}


/* Contacto */

.bodyContacto{

    background-color: white;
}

.contacto{

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;

    .formulario{
        margin-top: 100px;
        margin-bottom: 50px;
        color:black;

        .formulario2{

            margin-bottom: 10%;
            
            
    
        }
    }
  }

  .formulario h1{

     font-size: 40px;
     font-family: $fontfamily;
     margin-bottom: 8%;
     

  }

  .form-group{

    margin-bottom: 2%;
    font-family: $fontfamily;
    color: black;
    font-size: 25px;
  }

  .btn{

   background-color: white;
   color: black;
   border: rgb(165, 155, 155) solid 1px;
   font-family: $fontfamily;

  }
  .btn:hover{

    opacity: 0.8;
    background-color: black;
    color: white;
  }

.seguinos{

 margin-left: 38%;
 font-size: 28px;
 font-family: $fontfamily;
 margin-top: 5%;


}
.fb {

width: 12px;
opacity: 0.5;



}
.ig{

    width: 30px;
    opacity: 0.5;
    margin-left: 7px;
}
.divRedes{
 
margin-right: 38%;
margin-top: 4%;


}



.calleFalsa{

 font-size: 19px;
 font-family: $fontfamily;
 margin-left: 36%;
 margin-top: 3%;
}

.calleFalsaa{

 font-size: 19px;
 font-family: $fontfamily;
 margin-left: 43%;
}

.calleFalsaaa{

 font-size: 19px;
 font-family: $fontfamily;
 margin-left: 44%;
 margin-bottom: 8%;
 
 

    
}
.medios{

display: flex;
justify-content: space-between;
opacity: 0.3;

}
.mediosDos{

display: flex;
justify-content: space-between;
margin-top: 3%;



}

.ubicacion{
    margin-left: 30%;
    width: 50px;
    
    

}
.telefono{

    width: 50px;
    height: 50px;
}
.email{

   width: 50px; 
   height: 60px;
   margin-right: 30%;
}

 .dire{

    margin-left: 28%;
    font-family: $fontfamily;
    font-size: 30px;
    margin-right: 10%;
    
 }

 .tel{

   font-family: $fontfamily;
   font-size: 30px;
   margin-right: 10%;

 }

 .mail{
  margin-left: 1%;
  margin-right: 40%;
  font-family: $fontfamily;
  font-size: 30px;

 }
 .mediosTres{

    display: flex;
    justify-content: space-between;
    font-family: $fontfamily;
    margin-bottom: 10%;
    color: rgb(141, 140, 140);

 }

 .calle{

    margin-left: 28%;
    font-size: 20px;
    margin-right: 2%;
 }
 .info{

    margin-right: 28%;
    font-size: 20px;
 }
 .num{

    font-size: 20px;
    
 }


/* maps menu */

$menu: (
  
     white:rgba(255, 255, 255, 0.815)
   
);

@each $nav, $color in $menu{
    .color-#{$nav} {
        background-color: $color;

    }
}

