//variables
@import 'fonts';
@import 'responsive';




@mixin size ($alto, $ancho) {
    width: $ancho;
    height: $alto;
}

/* Nav */


.menu1 {

    margin-top: 1%;
    margin-left: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .navbar-brand img {

        width: 75%;
        


    }

}

.nav-item {

    margin-top: 5%;
    margin-right: 28px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-family: $font;
    font-size: 15px;

}

.nav-item:hover {

    opacity: 0.8;
}

.navbar {

    background-color: white !important;

    a.nav-link {


        color: rgb(112, 110, 110);
    }

}



/* Footer */

footer {

    background-color: transparent;
    
   
    

}

.footerBi {

font-family: $fontfamily;
font-size: 12px;
margin-bottom: 4%;


        
}




.container>footer {
    margin-top: 0 !important;

}

.seguinos {

  
    font-size: 28px;
    font-family: $fontfamily;
    margin-bottom: 3%;
    margin-top: 5%;
    
  



}
.divRedes{


    margin-bottom: 4%;
}



.fb {

    width: 12px;
    opacity: 0.5;

}


.ig {

    width: 30px;
    opacity: 0.5;
    margin-left: 7px;

}




.calleFalsa {

    font-size: 19px;
    font-family: $fontfamily;

   

}

.calleFalsaa {

    font-size: 19px;
    font-family: $fontfamily;
    


}

.calleFalsaaa {

    font-size: 19px;
    font-family: $fontfamily;
    margin-bottom: 3%;
    

}




/* Home */


.carousel-caption {

    margin-bottom: 20%;

}

.carousel-caption>* {

    text-align: center;
    margin-bottom: 5%;

}

@media (min-width:$smartphone) {

    .carousel-caption {

        margin-bottom: 10%;
    }

}
@media (min-width:$tablets) {

    .carousel-caption {

        margin-bottom: 15%;
    }

}

a.btn-slider {

    padding: 5px 100px 5px 100px;
    color: #fff;
    border: #fff solid 1px;
    text-decoration: none;

}

a.btn-slider:hover {
    opacity: 0.8;
    transition: 2s;
    color: black;
    background-color: #fff;
}

.uno {

    font-family: $fontfamily;
    font-size: 35px;


}
@media (min-width:$smartphone) {

    .uno {

        font-size: 25px;
    }
}

.dos {


    font-family: $fontfamily;
    font-size: 50px;


}
@media (min-width:$smartphone) {

    .dos {

        font-size: 35px;
    }
}

/* Servicios */

.divServicios {

    width: 100%;
    height: 100%;
    background-image: url(https://images.adsttc.com/media/images/5abb/fa8f/f197/cc66/4000/033f/slideshow/MWP_0693-Edit.jpg?1522268801);
    border: solid transparent;
    background-repeat: no-repeat;
    background-size: cover;

   



    .tituloServicios {

        position: center;
        text-align: center;
        margin-top: 20%;
        


    }

}



.parrafoServicios {

    font-family: $fontfamily;
    font-size: 30px;
    margin-bottom: 25%;
    color: #fff;
    text-align: center;
}





/* Servicios maps-get */

$estilo: (
    color:#fff,
    fuente:'Cormorant Garamond',
    estilofuente: 50px,
    estilofuentee: 70px
);

body {

    background-color: map-get($estilo, color);

    .tituloServicios {
        font-family: map-get($estilo, fuente);
        font-size: map-get($estilo, estilofuentee);
        color: map-get($estilo, color);
    }

    .servicioss {
        font-family: map-get($estilo, fuente);
        font-size: map-get($estilo, estilofuente);

    }

}


/* Imagenes Servicios */


.imagenServicios {

    @include size(250px, 300px);
    margin: auto;
    display: block;
    margin-top: 5%;
}


.imagenServicios:hover {

    transform: scale(1.2);
}

.diseño {

    font-family: $fontfamily;
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
}

.diseñoParrafo {

    font-family: $fontfamily;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;


}

.reforma {

    font-family: $fontfamily;
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
}

.mobiliario {

    font-family: $fontfamily;
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
}

.asesoramiento {

    font-family: $fontfamily;
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
}


.parrafoTabla {

    font-family: $fontfamily;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;



}



/* Proceso */


.proceso {

    display: flex;
    justify-content: space-between;


    .procesoEtapas {

        margin-right: 20%;
        margin-top: 5%;
        font-family: $fontfamily;
        margin-left: 10%;

        .tituloProceso {

            margin-bottom: 30%;
        }
    }


}

.relevamiento {

    margin-bottom: 10%;

    .parrafoRelevamiento {

        margin-bottom: 10%;
    }
}

.entregas {

    margin-top: 20%;
    margin-bottom: 10%;
}

.procesoo {

    display: flex;
    justify-content: space-between;

    .procesoEtapass {

        font-family: $fontfamily;
        margin-left: 10%;
        margin-top: 10%;
        margin-right: 10%;


        .entrega {

            margin-bottom: 10%;


           
        }

    }

}

.parrafoEntregas{

    margin-bottom: 10%;
    
}

.procesoDos {

    
    width: 50%;
    object-fit: cover;
    


}

.procesoUno{

    
    width: 50%;
    object-fit: cover;
    
}


.ejecucion {
    margin-top: 20%;
    margin-bottom: 10%;

}

.parrafoEjecucion{

    margin-bottom: 20%;
}




/* Reformas */

.bodyReformas {

    background-color: white;
}


.obras h1 {



    margin-bottom: 3%;
    margin-top: 8%;
    font-size: 40px;
    color: black;
    font-family: $fontfamily;
    text-align: center;

   

}

.obras h2 {

    color: black;
    font-size: 25px;
    margin-bottom: 5%;
    font-family: $fontfamily;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}

.obrasDos {
    
    color: black;
    font-family: $fontfamily;
    font-size: 10px;
    display: flex;
    justify-content: center;

    .imgObra {

        width: 20px;
        height: 20px;
        


    }

}

.obrasDos h3 {
    
    font-size: 20px;
    margin-right: 2%;
    margin-left:10%;
    
    

}

.imagenRefo {

  margin-right: 10%;

}

.obraTres {

    text-align: center;
  

}


.obraTres h2 {

    font-family: $fontfamily;
    font-size: 30px;
    color: black;
    margin-top: 10%;

}

.obraTres h3 {

    font-family: $fontfamily;
    font-size: 20px;
    color: black;
    margin-bottom: 2%;


}

/*carrousel*/

.carousel-inner-dos img {
    width: 50%;
    height: 460px;
 
}

.carousel-inner-dos {
    height: 460px;
    width: 50%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;

}



/* Contacto */

.bodyContacto {

    background-color: white;
}

.contacto {

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;

    .formulario {
        margin-top: 100px;
        margin-bottom: 50px;
        color: black;

        .formulario2 {

            margin-bottom: 10%;



        }
    }
}

.formulario h1 {

    font-size: 40px;
    font-family: $fontfamily;
    margin-bottom: 8%;


}

.form-group {

    margin-bottom: 2%;
    font-family: $fontfamily;
    color: black;
    font-size: 25px;
}

.btn {

    background-color: white;
    color: black;
    border: rgb(165, 155, 155) solid 1px;
    font-family: $fontfamily;

}

.btn:hover {

    opacity: 0.8;
    background-color: black;
    color: white;
}



.medios {

    display: flex;
    justify-content: space-between;
    opacity: 0.3;

}

.ubicacion {
    margin-left: 32%;
    width: 50px;

}

.telefono {

    width: 50px;
    height: 50px;
}


.email {

    width: 50px;
    height: 60px;
    margin-right: 32%;


}

.mediosDos {

    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;

}


.dire {

    margin-left: 22%;
    font-family: $fontfamily;
    font-size: 30px;
   



}

.tel {

    font-family: $fontfamily;
    font-size: 30px;
    


}

.mail {
    
    margin-right: 25%;
    font-family: $fontfamily;
    font-size: 30px;

}

.mediosTres {

    display: flex;
    justify-content: space-between;
    font-family: $fontfamily;
    margin-bottom: 10%;
    color: rgb(141, 140, 140);

}

.calle {

    
    font-size: 20px;
    margin-left: 28%;
    


}

.info {

    
    font-size: 20px;
    margin-right: 28%;

}

.num {

    font-size: 20px;
    

}


/* maps menu */

$menu: (
    white:rgba(255, 255, 255, 0.815)
);

@each $nav,
$color in $menu {
    .color-#{$nav} {
        background-color: $color;

    }
}


