/* Responsive */

$smartphone: 480px;
$tablets: 768px;
$desktop: 1200px;



/* Reformas */

@media (max-width:$tablets) {

    .carousel-inner-dos img {

        height: 350px;
    }
}

@media (max-width:$smartphone) {

    .carousel-inner-dos img {

        height: 200px;

    }

}

/* Contacto */


@media (min-width:$smartphone) {

    .dire {

        font-size: 20px;
    }
}

@media (min-width:$smartphone) {

    .tel {
        font-size: 20px;
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media (min-width:$smartphone) {

    .mail {

        font-size: 20px;
    }
}


@media (max-width:$smartphone) {

    .calle {

        font-size: 20px;
    }
}

@media (min-width:$smartphone) {

    .num {
        font-size: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width:$smartphone) {

    .info {

        font-size: 20px;
    }
}

/* Servicios */

@media (max-width:$smartphone) {

    .imagenServicios {

        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Home */

@media (max-width:$smartphone) {

    .uno {

        font-size: 25px;
    }
}

@media (max-width:$smartphone) {

    .dos {

        font-size: 35px;
    }
}

@media (max-width:$smartphone) {

    .carousel-caption {

        margin-bottom: 10%;
    }

}